:root {
    --color1: #faeae1;
    --color2: #222936;
    --color3: #e83c75;
    --color4: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color2);
    overflow: hidden;
}

header {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: fixed;
    z-index: 2;
}

header ul {
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color3);
}

.menu a:hover{
    color: aqua;
    transition: all 1s;
}

.submenu {
    position: absolute;
    background-color: rgba(34, 41, 54, .9);
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;
}

.submenu a {
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    color: var(--color3);
    opacity: 1;
}

#serveis:hover .submenu{
    visibility: visible;
    opacity: 1;
}

#primera {
    position: absolute;
    left: 200px;
    height: 100%;
    z-index: 0;
}

.titol {
    position: absolute;
    color: white;
    margin-left: 10px;
    z-index: 2;
    margin-top: 200px;
    width: 60%;
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
}

#container {
    width: 80%;
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item {
    border: 2px solid aqua;
    border-radius: 10px;
    width: 150px;
    height: 200px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    text-align: center;
    color: white;
}

.item img {
    height: 75%;
    display: block;
    margin: auto;
}

.item:hover {
    transform: rotateY(360deg) scale(1.2);
    transition: all 1s;
    cursor: pointer;
}

.titol2 {
    margin-top: 100px;
    margin-left: 40px;
}

p {
    position: absolute;
    color: white;
    margin-left: 40px;
    z-index: 2;
    margin-top: 150px;
    width: 60%;
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}

#container2 {
    width: 100%;
    position: absolute;
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2px;
}

.item2 img {
    border-radius: 20px;
    width: 100%;
}

.item2:nth-child(1) {
    width: 45%;
}

.item2:nth-child(2){
    width: 40%;
}

.item2:nth-child(3){
    width: 55%;
}

.visible {
    overflow: visible;
}

.solid {
    background-color: var(--color2);
    z-index: 3;
}

#divisio {
    position: absolute;
    bottom: 200px;
    left: 20%;
}

#divisio a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    text-shadow: 5px 5px 10px;
}

.titol3 {
    width: 80%;
    margin-top: 100px;
}

#contacts {
    display: flex;
}

#contacts i {
    margin-right: 5px;
  }
  
#contacts a{
    transition: transform 0.3s ease-out;
    margin-right: 20px;
  }
  
#contacts a:hover {
    transform: translate(0, 7px);
  }

